*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    background-color: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.navbar h1{
    color: white;
}

.links{
    display: flex;
    justify-content: right;
    padding: 0 10px;
    align-items: center;
    color: wheat;
}

.links a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.links a:hover{
    background-color: white;
    color: black;
}